@model Tuple<string,string> 
@{
    string dir = (Html.getCurrentlanguage() == "en") ? "ltr" : "rtl";
}
<html>
<body dir="@dir" lang="@Html.getCurrentlanguage()">
    <h2>@Resource1.welcom mohamed</h2>
    <p>@Resource1.weRememberYouUsername @Model.Item1</p>
    <a href="@Model.Item2">@Resource1.pleaseClickOnLinkToChangePassword</a>
</body>
</html>
