@model Tuple<string,string>
@{
    Page.Title = Resource1.titleRememerPassword;
    Layout = Html.getUsersSiteLayout();
    string mail =(Model!=null&&Model.Item1=="email")? Model.Item2.Replace("%40", "@"):"";
}
<div class="container">
    <h2 class="pageHeadline">@Resource1.forgotPassword</h2>
    @if (Model == null)
    {
    <form method="post" action="rememberPassword" id="rememberPassword" autocomplete="off">
        <div class="form-group" id="verificationWay">
            <div class="group">
                <label>@Resource1.retrievePasswordByEmail</label>
                <input type="radio" name="verificationWay" checked value="true" />
            </div>
            <div class="group">
                <label>@Resource1.retrievePasswordByPhone</label>
                <input  type="radio" name="verificationWay" value="false" />
            </div>
        </div>
        <div class="form-group">
            <p style="color:red" class="rememberPasswordError">
                @if (ViewBag.error != "") { Write(ViewBag.error); }
            </p>
        </div>
        <div class="form-group" id="byEmail">
            <label>
                @Resource1.enterRegisteredUsername
            </label>
            <input type="text" name="userNameOrEmail" id="userNameOrEmail" class="form-control" required autofocus />
        </div>
        <div class="form-group hidden" id="byPhone">
            <label>
                @Resource1.enterRegisteredPhone
            </label>
            <input type="text" pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{5})$" name="phone" id="phone" class="form-control" autofocus />
        </div>
        <div class="form-group">
            <button id="sendVerify" data-text="@Resource1.sendCodeToMobile" type="submit" class="btn btn-primary">
                @Resource1.emailLink
            </button>
        </div>
    </form>
    }
else
{
<div id="resetLinkSent">
    <h4 class="text-center">we have sent link to @mail,please go to this account and click on that link to change your password</h4>
    <h5>the link has not been sent to my account <a href="">please sent me the link again</a></h5>
</div>
}
</div>