@model Tuple<List<tabeeb.Areas.doctors.Models.specialityData>, List<tabeeb.Areas.doctors.Models.cityData>,List<doctorDataList>>
@{

    string lang = Html.getCurrentlanguage();
    var cities = Model.Item2;
    var specialities = Model.Item1;
    var doctorNames = Model.Item3;
}
<div class="reserving-search">
    <form id="searchForm" method="get" action="/@Html.getDefaultPathFor("users","search")/searchFor">
        <div class="form-group">
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                    <div class="buttonTop">
                        <span class="pull-left"><i class="glyphicon glyphicon-triangle-bottom"></i>@Resource1.searchingForSpeciality</span>
                        <span class="fa fa-stethoscope  pull-right"></span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="pull-left selectedValue" data-text="@Resource1.selectSpeciality">@Resource1.selectSpeciality</div>
                </button>
                <ul class="dropdown-menu">
                    <li data-value="0" data-name="@Resource1.allSpecialities" onclick="setSelectedSearchValue(this)"><a href=" ">@Resource1.allSpecialities</a></li>
                    @foreach (var speciality in specialities)
                    {
                        <li data-value="@speciality.id" data-name="@speciality.name" onclick="setSelectedSearchValue(this)"><a href=" ">@speciality.name</a></li>
                        foreach (var subSp in speciality.subSpecialities)
                        {
                            <li data-value="@subSp.id" data-name="@subSp.name" onclick="setSelectedSearchValue(this)"><a href=" ">@subSp.name</a></li>
                        }
                    }
                </ul>
                <input type="hidden" name="specialityIDs" value="0" />
            </div>
        </div>
        <div class="form-group">
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                    <div class="buttonTop">
                        <span class="pull-left"><i class="glyphicon glyphicon-triangle-bottom"></i> @Resource1.atCityOf</span>
                        <span class="fa fa-map-marker pull-right"></span>
                        <div style="clear:both"></div>
                    </div>
                    <div class="pull-left selectedValue" data-text="@Resource1.selectCity">@Resource1.selectCity</div>
                </button>
                <ul class="dropdown-menu">
                    <li data-value="0" data-name="@Resource1.allCities" onclick="updateDestrictsMenu(); setSelectedSearchValue(this);">
                        <a href="">@Resource1.allCities</a>
                    </li>
                    @foreach (var city in cities)
                    {
                        var destrictIDs = city.destricts.Select(d => d.id);
                        <li data-value="@city.id" data-name="@city.name" data-destricts="@Json.Encode(destrictIDs)" onclick="updateDestrictsMenu(this); setSelectedSearchValue(this);">
                            <a href="">@city.name</a>
                        </li>
                    }
                </ul>
                <input type="hidden" name="cityID" value="0" />
            </div>
        </div>
        <div class="form-group">
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                    <div class="buttonTop">
                        <span class="pull-left"><i class="glyphicon glyphicon-triangle-bottom"></i> @Resource1.atDestrictOf</span>
                        <span class="fa fa-map-marker pull-right"></span>
                        <div style="clear:both"></div>
                    </div>
                    <div class="pull-left selectedValue" data-text="@Resource1.selectDestrict">@Resource1.selectDestrict</div>
                </button>
                <ul class="dropdown-menu" id="destrictsMenu">
                    <li data-value="0" data-name="@Resource1.allDestricts" onclick="setSelectedSearchValue(this)">
                        <a href="">@Resource1.allDestricts</a>
                    </li>
                    @foreach (var city in cities)
                    {
                        var destricts = city.destricts;
                        foreach (var destrict in destricts)
                        {
                            <li data-value="@destrict.id" data-name="@destrict.name" onclick="setSelectedSearchValue(this)">
                                <a href="">@destrict.name</a>
                            </li>
                        }
                    }
                </ul>
                <input type="hidden" name="destrictID" value="0" />

            </div>
        </div>
        <div class="form-group">
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                    <div class="buttonTop">
                        <span class="pull-left"><i class="glyphicon glyphicon-triangle-bottom"></i> @Resource1.orSelectDoctorname </span>
                        <span class="fa fa-user-md pull-right"></span>
                        <div style="clear:both"></div>
                    </div>
                    <div class="pull-left selectedValue" data-text="@Resource1.selectDocName">@Resource1.selectDocName</div>
                </button>
                <ul class="dropdown-menu doctors">
                    <li data-value="0" class="hasInput">
                        <input autocomplete="off" class="form-control" type="text" placeholder="@Resource1.searchingForDoc" onkeyup="filterDoctors(this)" />
                    </li>
                    @foreach (var doctor in doctorNames)
                    {
                        var displayedName = (lang == "en") ? doctor.nameEng : doctor.nameAr;
                        <li data-namear="@doctor.nameAr" data-nameeng="@doctor.nameEng" data-value="@displayedName" data-name="@displayedName" onclick="setSelectedSearchValue(this);">
                            <a href="">@displayedName</a>
                        </li>
                    }
                </ul>
                <input type="hidden" value="" name="docName" />
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" name="pageNumber" value="1" />
            <button id="submitSearchButton" type="button">
                <i class=" fa fa-search fa-lg"></i>  @Resource1.search
                <img src="~/images/ajax-loader.gif" class="hidden img-responsive center-block" />
            </button>
        </div>
    </form>
</div>