<!--statistics-->
<section class="stats text-center">
    <h2>@Resource1.websiteStatis</h2>
    <div class="overlay">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-xs-6">
                    <div class="item center-block text-center">
                        <img src="~/icon/icon1.png">
                        <p>5000</p>
                        <h4>@Resource1.doctor</h4>
                    </div>
                </div>
                <div class="col-sm-2  col-xs-6">
                    <div class="item center-block text-center">
                        <img src="~/icon/icon2.png">
                        <p>1520</p>
                        <h4>@Resource1.user</h4>
                    </div>
                </div>
                <div class="col-sm-2  col-xs-6">
                    <div class="item center-block text-center">
                        <img src="~/icon/Pharm1.png">
                        <p>125</p>
                        <h4>@Resource1.pharmacy</h4>
                    </div>
                </div>
                <div class="col-sm-2  col-xs-6">
                    <div class="item center-block text-center">
                        <img src="~/icon/icon3.png">
                        <p>6000</p>
                        <h4>@Resource1.rayCenter</h4>
                    </div>
                </div>
                <div class="col-sm-2  col-xs-6">
                    <div class="item center-block text-center">
                        <img src="~/icon/icon4.png">
                        <p>5640</p>
                        <h4>@Resource1.labAnalysis</h4>
                    </div>
                </div>
                <div class="col-sm-2  col-xs-6">
                    <div class="item center-block text-center">
                        <img src="~/icon/icon5.png">
                        <p>10000</p>
                        <h4>@Resource1.visitor</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--statistics-->
